@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
/* .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.div4 {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
} */
   